body {
  font-family: Arial, sans-serif;
  background-color: #393D49;
  background-image: url('https://cirruscdn.com/static/noise.png');
  color: #333;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

form {
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  margin: 2rem;
}

.form-control {
  width: 120px;
  height: 120px;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
}

.d-flex {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.btn-primary {
  background-image: linear-gradient(to bottom right, #997399, #f8598b, #f7bf00);
  color: white;
  border: none;
  max-width: 800px;
  width: 80%;
  height: 120px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-score {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
  form {
    max-width: 100vw;
    padding: 1rem;
    height: 60vh;
  }
  .form-control {
    width: 80px;
    height: 80px;
  }
  .btn-primary {
    width: 90%;
    height: 80px;
    font-size: 2rem;
  }
  .d-flex {
    width: 90%;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0.5rem;
    overflow: hidden;
  }
  form {
    max-width: 100vw;
    padding: 1rem;
    margin-top: 20vh;
    height: 60vh;
    margin: 1rem;
  }
  .form-control {
    font-size: 2rem;
    margin: 0 2px;
    width: 60px;
    height: 60px;
  }
  .d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .d-flex .form-control {
    flex: 0 0 22%;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
  .d-flex .form-control:nth-child(4n+1) {
    margin-left: 0;
  }
  .d-flex .form-control:nth-child(4n) {
    margin-right: 0;
  }
  .btn-primary {
    height: 60px;
    font-size: 1.5rem;
  }
}

.mobile .d-flex .form-control {
  flex: 0 0 22%;
  margin-bottom: 10px;
}